h1 {
  color: #c2185b;
  font-weight: bold;
}

form {
  padding-bottom: 3vmin;
  padding-top: 1vmin;
  text-align: center;
}

p {
  margin-bottom: .25vmin;
}

ol > li {
  text-align: left;
}

img {
  border: 2px solid #1976d2;
}

img:hover {
  border: 2px solid #c2185b;
  -webkit-box-shadow: 0 10px 6px -6px #f8bbd0;
  -moz-box-shadow: 0 10px 6px -6px #f8bbd0;
  box-shadow: 0 10px 6px -6px #f8bbd0;
}

.album > p {
  color: #1976d2;
}

.card {
  background: #eeeeee;
  border: 1px solid #cccccc;
  border-radius: 6px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 250px;
  margin: 1vmin;
  padding: 2vmin;
}

.row {
  text-align: center;
}

.album-cover {
  width: 100px;
  height: 100px;
  margin-bottom: .5vmin;
}

.album-name {
  font-weight: bold;
}

p.tracks {
  color: #c2185b;
}

.tracks:hover {
  font-weight: 500;
  cursor: pointer;
}

.track-names {
  border: 1px solid #f8bbd0;
  margin-top: 1vmin;
  padding-top: 1vmin;
}
